.rodape {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    background-color: #04244F;
}

.rodape_redes {
    display: flex;
    gap: 2rem;
}

.rodape_hug-img {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.rodape_hug-img:hover {
    transform: scale(1.2);
    transition: 0.18s;
}

.rodape_desenvolvido {
    color: white;
    font-family: "GandSansRegular";
}