 
.menu-sidebar {
    color: white;
    width: 15%;
    font-family: "GandSansRegular";
}
.menu-sidebar__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding-left: 2rem;
}

.menu-sidebar li{
    white-space: nowrap;
}
.menu-sidebar__lista li a {
    text-decoration: none;
    color: white;
    margin-left: 6px;
}

.menu-sidebar__lista li img {
    vertical-align: middle;
}

@media screen and (max-width: 1200px) {
    .menu-sidebar{
        display: none;
    }
}